body {
    background-color: #9083a7;
    font-family: Roboto Mono, Arial, Helvetica, sans-serif;
}

.note-button {
    transition: 100ms;
    background-color: var(--button-bg-color) !important;
    transition: background-color 0.2s;
}

.note-button.active,
.note-button:hover {
    background-color: var(--button-hover-bg-color) !important;
}

.btn-light.pe-none:hover {
    background-color: var(--bs-light);
    color: var(--bs-body-color);
    cursor: pointer;
}

/* .btn-dark.pe-none:hover {
    background-color: var(--bs-dark);
    color: var(--bs-white);
  } */